<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [1]:
# Enter Student names here:
student_names = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

---

### 1) What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [3]:
all_vars = (a,b,c,d,e,f,g,h,i)
type_ans = ('int', 'float', 'list', 'dict', 'tuple', 'dict', 'bool', 'bool', 'str')
for i, var in enumerate(all_vars):
    check = "<class '" + type_ans[i] + "'>"
    print(str(type(var)) == check, var)

True 1
True 2.6
True [1, 2, 3, 5, 6]
True {'kiefer': 'katovich', 'dave': 'yerrington'}
True ('one', 'two', 'three')
True {1: {'key': 'value'}, 2: {'key2': 'value2'}}
True True
True False
True integer

---

### 2) What is the difference between a "mutable" and an "immutable" object?

An immutable object cannont be amended - no appending or changes to existing values.

---

### 3) Print the `student_names` list.

In [4]:
student_names

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

---

### 4) Print the names of the first and last students on the list.

In [5]:
print(student_names[0])
print(student_names[-1])

A
J

---

### 5) Print the first five names in the `student_names` list.

In [6]:
student_names[:5]

['A', 'B', 'C', 'D', 'E']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [7]:
new_string = ' '.join((student_names[8], student_names[9]))
print(new_string)

I J

---

### 7) Append an animal to the list of animals.

In [8]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [9]:
animals.append('cat')
animals

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'cat']

---

### 8) Print the length of the `animals` list.

In [10]:
len(animals)

7

---

### 9) Divide the length of the fifth animal by the second.

In [11]:
len(animals[4]) / len(animals[1])

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [12]:
float(len(animals[4]) / len(animals[1]))

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [13]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [14]:
numbers + animals

[0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0,
 'duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'cat']

In [15]:
animals.extend(numbers)
animals

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'cat',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [40]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [41]:
index = names.index('kiefer')
names[index] = 'Joe'

In [42]:
names

['doug', 'billy', 'Joe', 'kian', 'sam']

---

### 13) Sort the following list.

In [18]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [19]:
#mix = sorted(mix)

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [20]:
mix[2] > mix[3]

True

---

### 15) Find the index of `'a'` in the list.

In [21]:
mix.index('a')

5

---

### 16) Reverse the `mix` list.

In [22]:
mix = mix[::-1]
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 17) Remove the last element of `mix`  and assign it to a variable.

In [23]:
removed = mix.pop()
removed

['billy', 'sam']

---

### 18) Count the number of times `0` appears in the following list.

In [24]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [25]:
len([x for x in binary if x == 0])

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [26]:
zip_codes = {'sunset':94122,
             'presidio':94129,
             'soma':94105,
             'marina':94123}
zip_codes

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [27]:
soma = zip_codes['soma']
soma

94105

---

### 21) Get the keys out of the dictionary.

In [28]:
zip_codes.keys()

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [29]:
zip_codes.items()

dict_items([('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)])

---

### 23) Add The Castro to the dictionary with the zip code 94114.

In [30]:
zip_codes['The Castro'] = 94114

In [31]:
zip_codes

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'The Castro': 94114}

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [32]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [33]:
zip_codes.update(small)

In [34]:
zip_codes

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'The Castro': 94114,
 'outer_richmond': 94121,
 'dogpatch': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [35]:
sunset = zip_codes.pop('sunset')

In [36]:
sunset

94122

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [37]:
'dogpatch' in zip_codes.keys()

True