<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Review of Python Types, Lists, and Dictionaries

_Author: Kiefer Katovich (San Francisco)_

---

In [1]:
# List of student names
student_names = ['Ariana', 'Benjamin', 'Chiara', 'Dylan', 'Edgar', 'Fern', 'Gerry', 'Hermione', 'Isobel', 'Jenny']

---

### 1) What are the types of the following variables?

In [2]:
a = 1  # Integer variable
print(type(a))

b = 2.6 # Float variable
print(type(b))

c = [1, 2, 3, 5, 6] # List variable
print(type(c))

d = {'kiefer': 'katovich', 'dave': 'yerrington'} # Dictionary variable
print(type(d))

e = ('one', 'two', 'three') # Tuple variable
print(type(e))

f = {1:{'key1': 'value1'}, 2:{'key2': 'value2'}} # Dictionary variable
print(type(f))

g = True # Boolean variable
print(type(g))

h = False # Boolean variable
print(type(h))

i = 'integer' # String variable
print(type(i))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'bool'>
<class 'str'>

In [3]:
# Store variables above and their datatypes in separate tuples
all_vars = (a, b, c, d, e, f, g, h, i)
type_ans = ('int', 'float', 'list', 'dict', 'tuple', 'dict', 'bool', 'bool', 'str')

for i, var in enumerate(all_vars):
    check = "<class '" + type_ans[i] + "'>"
    print(str(type(var)) == check, var)

True 1
True 2.6
True [1, 2, 3, 5, 6]
True {'kiefer': 'katovich', 'dave': 'yerrington'}
True ('one', 'two', 'three')
True {1: {'key': 'value'}, 2: {'key2': 'value2'}}
True True
True False
True integer

---

### 2) What is the difference between a "mutable" and an "immutable" object?

An immutable object cannont be amended - no appending or changes to existing values.

---

### 3) Print the `student_names` list.

In [4]:
print(student_names)

['Ariana', 'Benjamin', 'Chiara', 'Dylan', 'Edgar', 'Fern', 'Gerry', 'Hermione', 'Isobel', 'Jenny']

---

### 4) Print the names of the first and last students on the list.

In [5]:
print([student_names[0], student_names[-1]])

['Ariana', 'Jenny']

---

### 5) Print the first five names in the `student_names` list.

In [6]:
print(student_names[0:5])

['Ariana', 'Benjamin', 'Chiara', 'Dylan', 'Edgar']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [7]:
print(student_names[8:10])

test_name = [' '.join(student_names[8:10])]
print(test_name)

['Isobel', 'Jenny']
['Isobel Jenny']

---

### 7) Append an animal to the list of animals.

In [8]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
animals.append('iguana')
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'iguana']

---

### 8) Print the length of the `animals` list.

In [9]:
print(len(animals))

7

In [10]:
# Print length of 'mammoth'
print(len(animals[4]))

# Print length of 'rat'
print(len(animals[1]))

7
3

---

### 9) Divide the length of the fifth animal by the second animal.

In [11]:
# Divide 'mammoth' by 'rat'
len(animals[4])/len(animals[1])

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a rounded decimal number.

In [12]:
divide_ans = round(len(animals[4])/len(animals[1]), 2)
print(divide_ans)

2.33

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [13]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

print(numbers)
print(animals)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]
['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'iguana']

In [14]:
# Using append()
for i in numbers:
    animals.append(i)
print(animals)

# Add the lists together
#added_list = animals + numbers
#print(added_list)

# Using extend()
#animals = animals.extend(numbers)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'iguana', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

Once you have 'appended' to a list, it is now immutable, so running more processes like adding lists or 'extending' it will add to the newly-added list, not the original! Be careful - you need to save copies of the lists.

---

### 12) Remove `'kiefer'` from the names list and insert your own name in its place.

In [15]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']
names.remove('kiefer')
names.insert(2, 'shely')
print(names)

['doug', 'billy', 'shely', 'kian', 'sam']

---

### 13) Sort the following list...

In [16]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

mix.sort()

TypeError: '<' not supported between instances of 'dict' and 'list'

It cannot be sorted! It is also a mix of collections.

---

### 14) Manually check whether or not one element of `mix` is greater than another.

In [17]:
mix[2] > mix[3]

True

---

### 15) Find the index number for element `'a'` in the list.

In [18]:
mix.index('a')

5

---

### 16) Reverse the `mix` list.

In [19]:
mix.reverse()
print(mix)

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 17) Remove the last element of reversed `mix`  and assign it to a variable.

In [20]:
last_element = mix.pop()
print(last_element)

['billy', 'sam']

---

### 18) Count the number of times `0` appears in the following binary numbers list.

In [21]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [22]:
zero_count_occurrence = binary.count(0) 
print(zero_count_occurrence)

16

---

### 19) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [23]:
zip_codes = dict({'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123})
print(zip_codes)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 20) Get the zip code for `'soma'` and assign it to a variable.

In [24]:
soma_zip = zip_codes['soma']
print(soma_zip)

94105

---

### 21) Get the keys out of the dictionary.

In [25]:
dict_keys = zip_codes.keys()
print(dict_keys)

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [26]:
dict_tuples = list(zip_codes.items())
print(dict_tuples)

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

---

### 23) Add 'the castro' to the dictionary with the zip code 94114.

In [27]:
zip_codes['the castro'] = 94114 
print(zip_codes)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'the castro': 94114}

---

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [28]:
small = {'outer_richmond': 94121, 'dogpatch': 94107}

In [29]:
zip_codes.update(small)
print(zip_codes)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'the castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [30]:
sunset = zip_codes.pop('sunset')
print(sunset)

94122

---

### 26) Check if the `'dogpatch'` is in the dictionary.

In [31]:
# Using indexing for its value(s)
zip_codes['dogpatch']

94107

In [32]:
# Using Boolean logic
'dogpatch' in zip_codes

True

# Convert list of tuples to DataFrame

In [34]:
import pandas as pd
  
# Data in list of tuples (name, age, score)
data = [('Peter', 18, 7),
        ('Rolf', 15, 6),
        ('John', 17, 8),
        ('Michael', 18, 7),
        ('Shely', 17, 5) ]

# Create DataFrame
tuple_df = pd.DataFrame(data, columns=['Name', 'Age', 'Score'])

tuple_df

      Name  Age  Score
0    Peter   18      7
1     Rolf   15      6
2     John   17      8
3  Michael   18      7
4    Shely   17      5