In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
import itertools
import time

In [47]:
examples1 = np.array([[9, 0], [8, 0]], dtype='float')
examples2 = np.array([[5, 0], [6, 0]], dtype='float') # closer to the origin
examples_classes1_2 = np.array([1, -1])
preds = np.array([1, 1])
w = np.array([[0, 0], [0, 0]])
w_0 = 1

examples3 = np.array([[20, 26], [16, -11], [21, 2], [18, 25], [26, -19], [11, 6], [20, -10], [17, 17]], dtype='float')
examples4 = examples3 - 11 * np.ones(examples3.shape) # closer to the origin
examples5 = np.array([[20, 26], [16, 27], [21, 24], [15, 25], [22, 23], [14, 27], [20, 20], [13, 24]], dtype='float')
examples_classes3_4_5 = np.array([1, -1, 1, -1, 1, -1, 1, -1])

w0_0 = np.zeros(3)
w0_1 = np.array([1., 0, -2])
learning_rate_1 = 0.00156
w0_2 = np.array([1., 0, -2]) / 0.00156
learning_rate_2 = 1

EXAMPLES = examples1
EXAMPLES_CLASSES = examples_classes1_2
LEARNING_RATE = learning_rate_2
W0 = w0_2
interval = 3e2
interval = 1
interval = 3e1

n = len(EXAMPLES)

In [48]:
examples1

array([[9., 0.],
       [8., 0.]])

In [25]:
assert(EXAMPLES.shape[1] == 2)
assert(n == len(EXAMPLES_CLASSES))
assert(LEARNING_RATE > 0)
assert(len(W0) == 3)

In [32]:
def perceptron_origin(x, y, theta):
    #theta_zero = np.array([0, 0])
    theta_list = []
    
    if y*(theta.dot(x)) <= 0:
        theta_update = theta + (y * x)
        theta_list.append(theta_update)
        return theta_list
    else:
        return theta

In [40]:
perceptron_origin(np.array([0,1,0]), 1, np.array([-1,0,0]))

[array([-1,  1,  0])]

In [4]:
def perceptron_not_origin(x, y, theta, offset):
    #theta_zero = np.array([0, 0])
    theta_list = []
    offset_list = []
    
    if y*(theta.dot(x) + offset) <= 0:
        theta_update = theta + (y * x)
        theta_list.append(theta_update)
        offset_update = offset + y
        offset_list.append(offset_update)
        return theta_list, offset_list
    else:
        return theta, offset

In [8]:
# View data for practice
amazon = pd.read_csv('../data/reviews_train.tsv', sep='\t', encoding='unicode_escape')
amazon.head()

,sentiment,productId,userId,summary,text,helpfulY,helpfulN
0,-1,B000EQYQBO,A2JZVE0Y19VLL0,blue chips,The chips are okay Not near as flavorful as th...,0,0
1,-1,B000LKVHYC,A3NAKOMAS0I5L9,Bad even for 'healthy',"I had high hopes for this, but it was bad. Re...",0,0
2,-1,B003QRQRY2,ARBO3XW14MNGA,Alot of money for one can,I guess it's only one can since there is nothi...,1,1
3,-1,B008EG58V8,A1IQXGT4MJUYJ8,"The Box says ""OATMEAL SQUARES"" which I believe...","""Oatmeal Squares"" is in about the largest prin...",0,0
4,1,B004WZZY8M,A2TBL6WAZGXB9P,Delicious!,"I really enjoyed this flavor, this has a very ...",1,0

In [11]:
review_data = amazon[['summary', 'text', 'sentiment']]
review_data.sample(10)

,summary,text,sentiment
1005,Mostly lime!,Not a big fan of chili actually... so these al...,1
1106,Yum!,As a dedicated chocolate and almond lover thi...,1
2411,Sugary!,I was really disappointed when I received my o...,-1
3436,Not so tasty to me,I love coconut water. It's so refreshing. I'...,-1
1711,why buy something when you are getting ripped ...,See's makes delicious chocolates; close to the...,-1
3548,Excellent,"I love this candy so much, It was so hard to f...",1
1960,A different way to brew,The cups are different. They have a paper filt...,1
690,Divina Olives Stuffed with Jalapeno are simply...,I received my first jar as a gift at Christmas...,1
3180,Heavy on the Vinegar,"I usually love Kettle Chips, and love salt & v...",-1
1611,Tasty and quick,Great option for a healthy and quick breakfast...,1

In [17]:
review_data.loc[2411,'text']

"I was really disappointed when I received my order. This cream of coconut has a huge amount of sugar in it. This is one of the frustrating things about ordering food items from Amazon - you can't always look at the ingredients before buying. I ordered this because I don't eat sugar or grains, and coconut cream is useful in making a lot of paleo food items. But I can't eat it because it has so much added sugar! An expensive mistake."