<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Linear Regression Review Lab

_Authors: Alexander Combs (NYC)_

---

In [1]:
import numpy as np
import pandas as pd
import random

import matplotlib
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline

### Create a Python dictionary 

- Use the following as the keys: 'X' and 'Y'
- Create two lists to use as the values in the dictionary: <br>
    for 'X': 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 <br>
    for 'Y': .5, .7, .8, .99, 1, 1.4, 1.8, 2.1, 2.4, 2.9

In [3]:
# A:
my_dict = {'X' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'Y' : [0.5, 0.7, 0.8, 0.99, 1, 1.4, 1.8, 2.1, 2.4, 2.9]}

### Using that dictionary, create a pandas DataFrame and call it pre_df

In [6]:
# A:
pre_df = pd.DataFrame(my_dict)
pre_df

    X     Y
0   1  0.50
1   2  0.70
2   3  0.80
3   4  0.99
4   5  1.00
5   6  1.40
6   7  1.80
7   8  2.10
8   9  2.40
9  10  2.90

### Using the Series from the DataFrame, create two new series

- The first list should use the 'X' values and add 10 to each value
- The second list should use the 'Y' values and add 3 to each
- Add those new lists to a new DataFrame and save it as new_data (hint: zip())

Note: the original DataFrame should be unchanged (don't save to pre_df as new columns)

In [11]:
# A:
x_series = pre_df['X'] + 10

In [9]:
y_series = pre_df['Y'] + 3

In [15]:
new_data = pd.DataFrame(list(zip(x_series, y_series)))
new_data

    0     1
0  11  3.50
1  12  3.70
2  13  3.80
3  14  3.99
4  15  4.00
5  16  4.40
6  17  4.80
7  18  5.10
8  19  5.40
9  20  5.90

### Using pd.concat, vertically concat the new DataFrame, new_data, to the original pre_df DataFrame. Save it as df.

Hint: Be mindful of your column names, and make sure your index is 0-based and continuous.

In [22]:
# A:
df = pd.concat([pre_df, new_data], ignore_index=True)
df

       X     Y     0     1
0    1.0  0.50   NaN   NaN
1    2.0  0.70   NaN   NaN
2    3.0  0.80   NaN   NaN
3    4.0  0.99   NaN   NaN
4    5.0  1.00   NaN   NaN
5    6.0  1.40   NaN   NaN
6    7.0  1.80   NaN   NaN
7    8.0  2.10   NaN   NaN
8    9.0  2.40   NaN   NaN
9   10.0  2.90   NaN   NaN
10   NaN   NaN  11.0  3.50
11   NaN   NaN  12.0  3.70
12   NaN   NaN  13.0  3.80
13   NaN   NaN  14.0  3.99
14   NaN   NaN  15.0  4.00
15   NaN   NaN  16.0  4.40
16   NaN   NaN  17.0  4.80
17   NaN   NaN  18.0  5.10
18   NaN   NaN  19.0  5.40
19   NaN   NaN  20.0  5.90

### Plot the df DataFrame using pandas + matplotlib

- Set the figure size to 12 wide and 6 height
- Add a title, 'X vs Y' to the plot
- Set the size of the markers to 50 and the color of the markers to black

In [ ]:
# A:

### Using statsmodels, fit an OLS regression to your data and print our the summary

In [ ]:
# A:

## Using the model you fitted, answer the folowing questions:

### What is the R-squared for the model?

In [ ]:
# A:

### What is the p-value for your X?

In [ ]:
# A:

### What is the intercept?

In [ ]:
# A:

### Using the above, write the equation for our model

In [ ]:
# A:

### Solve the equation for an x of 20 then 21 (by hand/calculator)

In [ ]:
# A:

In [ ]:
# A:

### Using the predict functionality of statsmodels, predict the values for 20 and 21

Hint: You'll need to use a list - don't forget your intercept!

In [ ]:
# A:

### Get the SSE by using the predictions for every X (y_hats) and the true y values

In [ ]:
# A:

### Now plot your predictions for every X

- Plot the predictions as a line and the true y values using a scatterplot

In [ ]:
# A:

### Import PolynomialFeatures from sklearn. Then do the following:

- Instantiate a PolynomialFeatures object and save it as poly
- Documentation is [here](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html)
- Use degree=5 (Hint: If that gives you more than 6 columns, you forgot to remove something)
- Use fit_transform on X to create a numpy array of polynomial features
- Save that array as poly_feats
- Convert this array to a DataFrame and save it as poly_X
- Join this new poly_df DataFrame with df['Y'] using pd.merge (Hint: join on the index)
- Save this joined index as pdf

In [ ]:
# A:

In [ ]:
# A:

In [ ]:
# A:

### Using statsmodels as before, fit this new model and save it as poly_results

In [ ]:
# A:

### Print out the model's predictions and save them as poly_yhat

In [ ]:
# A:

### Calculate the SSE

In [ ]:
# A:

### Now, create a for loop that does the follow:

- Iterates over the following alpha values [0, .001, .01, .25, .5, 1, 10]
- In each loop, you are going to fit a regularized regression
- See [Statsmodels Docs](http://statsmodels.sourceforge.net/devel/generated/statsmodels.regression.linear_model.OLS.fit_regularized.html) to understand how to do this
- In each loop, set the value of alpha to the value of being iterated over
- Set the L1_wt parameter to 0
- In each loop print out the alpha value, the SSE, and the mean absolute value of the coefficient of the model
- You should also print out the predictions as a line and the true y's as a scatterplot as above

In [ ]:
# A:

### Using the output of the above, answer the following:
- What happens to the SSE over the increasing alpha values?
- What happens to the mean abs. value of the coefficients?
- Does increasing the bias to reduce variance always mean a better model?

In [ ]:
# A:

In [ ]:
# A:

In [ ]:
# A: