<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 20px; height: 55px">

# Pandas for Exploratory Data Analysis
---

## Learning Objectives

- Define what Pandas is and how it relates to data science.
- Manipulate Pandas `DataFrames` and `Series`.
- Filter and sort data using Pandas.
- Manipulate `DataFrame` columns.
- Know how to handle null and missing values.

<a id="pandas"></a>

## 1. What Is Pandas?

Pandas is a Python library that primarily adds two new datatypes to Python: `DataFrame` and `Series`.

- A `Series` is a sequence of items, where each item has a unique label (called an `index`).
- A `DataFrame` is a table of data. Each row has a unique label (the `row index`), and each column has a unique label (the `column index`).
- Note that each column in a `DataFrame` can be considered a `Series` (`Series` index).

Behind the scenes, these datatypes use the NumPy ("Numerical Python") library. NumPy primarily adds the `ndarray` (n-dimensional array) datatype to Pandas. An `ndarray` is similar to a Python list â€” it stores ordered data. However, it differs in three respects:

* Each element has the same datatype (typically fixed-size, e.g., a 32-bit integer).
* Elements are stored contiguously (immediately after each other) in memory for fast retrieval.
* The total size of an `ndarray` is fixed.

Storing `Series` and `DataFrame` data in `ndarray`s makes Pandas faster and uses less memory than standard Python datatypes. Many libraries (such as scikit-learn) accept `ndarray`s as input rather than Pandas datatypes, so we will frequently convert between them.


### 1.1 Using Pandas

Pandas is frequently used in data science because it offers a large set of commonly used functions, is relatively fast, and has a large community. Because many data science libraries also use NumPy to manipulate data, you can easily transfer data between libraries (as we will often do in this class!).

Pandas is a large library that typically takes a lot of practice to learn. It heavily overrides Python operators, resulting in odd-looking syntax. For example, given a `DataFrame` called `cars` which contains a column `mpg`, we might want to view all cars with mpg over 35. To do this, we might write: `cars[cars['mpg'] > 35]`. 

In standard Python, this would most likely give a syntax error.  

Pandas also highly favors certain patterns of use. 

For example, looping through a `DataFrame` row by row is highly discouraged. 

Instead, Pandas favors using **vectorized functions** that operate column by column. (This is because each column is stored separately as an `ndarray`, and NumPy is optimized for operating on `ndarray`s.)

Do not be discouraged if Pandas feels overwhelming. Gradually, as you use it, you will become familiar with which methods to use and the "Pandas way" of thinking about and manipulating data.

### 1.2 Class Methods and Attributes

The Pandas `DataFrame` is a Pandas class object, and therefore comes with a set of attributes (or properties) and methods that can be applied specifically to Pandas ``DataFrames``. 

To access these, follow the variable name with a dot. For example, given a `DataFrame` called `users`:

```
- users.index       # accesses the `index` attribute -- note there are no parentheses. attributes are not callable

- users.head()      # calls the `head` method (since there are open/closed parentheses)

- users.head(10)    # calls the `head` method with parameter `10`, indicating the first 10 rows. this is the same as:

- users.head(n=10)  # calls the `head` method, setting the named parameter `n` to have a value of `10`.
```

Let's try it out by reading in a CSV file and accessing some of its attributes (downloaded from here (Table 32): https://data.gov.uk/dataset/44864962-e4ad-46e6-8f10-71b40126cefb/higher-education-student-data):

We start by importing ``pandas`` and reading in a CSV file using the ``read_csv`` function. We've also imported ``matplotlib`` for plotting, which we'll do later.

We preview the first five rows of the ``DataFrame`` using the ``head`` method.

The ``header`` parameter specifies that the column names are in row ``16`` of the underlying CSV file. 

Notice that ``pandas`` picks out the column names, and numbers the rows.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

university_df = pd.read_csv('./data/Higher_Ed_by_Ethnicity.csv',header=16)
university_df.head(5)

,Subject of study marker,Subject of study,Level of qualification,Mode of study,Academic Year,Ethnicity marker,Number
0,Subject area,(1) Medicine & dentistry,All,Full-time,2017/18,White,7355
1,Subject area,(1) Medicine & dentistry,All,Full-time,2017/18,Black,425
2,Subject area,(1) Medicine & dentistry,All,Full-time,2017/18,Asian,2705
3,Subject area,(1) Medicine & dentistry,All,Full-time,2017/18,Mixed,495
4,Subject area,(1) Medicine & dentistry,All,Full-time,2017/18,Other,305

Getting the ``index`` attribute shows us how many rows are in the dataframe

In [ ]:
university_df.index

We can also quickly access the column names

In [ ]:
university_df.columns

But the ``shape`` attribute is a better way of figuring out how big our dataset is.

In [ ]:
university_df.shape

We can confirm that our ``DataFrame`` is the correct type

In [ ]:
type(university_df)

We can check the types of individual columns

In [ ]:
university_df.dtypes

If needed, we could convert non-numeric types to numeric types using the ``to_numeric`` function. Note that the ``str.replace()`` function has been used to remove the commas in the ``Travel and Hotel Costs (Base Sales)`` column before it can be converted into a numeric type

In [ ]:
university_df['Number'] = pd.to_numeric(university_df['Number'])

We can access all the values in the ``DataFrame`` as a Numpy array

In [ ]:
university_df.values

In [ ]:
university_df.dtypes

## 1.3 Selecting and indexing data

Pandas DataFrames have structural similarities with Python-style lists and dictionaries.  

In the example below, we select a column of data using the name of the column in a similar manner to how we select a dictionary value with the dictionary key.

In [ ]:
university_df.columns

###  Making friendly columns

In [ ]:
# it's easier to manipulate the columns in lower case and unders_core

pd_friendly_columns = [col_string.replace(' ', '_') for col_string in university_df.columns]

university_df.columns = pd_friendly_columns

university_df.columns = map(str.lower, university_df.columns)

In [ ]:
university_df.head()

In [ ]:
university_df['academic_year']

The result is a Pandas series.

In [ ]:
type(university_df['academic_year'])

We can also select a single column using this syntax

In [ ]:
university_df[['academic_year']]

The result is a DataFrame

In [ ]:
type(university_df[['academic_year']])

We can select multiple columns using ``loc``.

In [ ]:
# Select multiple columns â€” yet another overload of the DataFrame indexing operator!
my_cols = ['academic_year', 'subject_of_study']     # Create a list of column names...
university_df[my_cols]                    # ...and use that list to select columns.

In [ ]:
# Or, combine into a single step (this is a Python list inside of the Python index operator!).
university_df[['academic_year', 'subject_of_study'] ]

In [ ]:
# "loc" locates the values from the first parameter (colon means "all rows"), and the column "Destination".
university_df.loc[:, 'academic_year']

In [ ]:
# Select two columns.
university_df.loc[:, ['academic_year', 'subject_of_study']]

In [ ]:
# Select a range of columns â€” unlike Python ranges, Pandas index ranges INCLUDE the final column in the range.
university_df.loc[:, 'academic_year' : 'number']

In [ ]:
# "loc" can also filter rows by "name" (the index).
# Row 0, all columns
university_df.loc[0, :]

In [ ]:
# Rows 0/1/2, all columns
university_df.loc[0:2, :]

In [ ]:
# Rows 0/1/2, range of columns
university_df.loc[0:2, 'academic_year' : 'number']

In [ ]:
# Use "iloc" to filter rows and select columns by integer position.
# (Remember that rows/columns use indices, so "iloc" lets you refer to indices via their index rather than value!)
# All rows, columns in position 0/3  
university_df.iloc[:, [0, 3]]

In [ ]:
# All rows, columns in position 0/1/2/3
# Note here it is NOT INCLUDING 4 because this is an integer range, not a Pandas index range!
university_df.iloc[:, 0:4]

In [ ]:
# Rows in position 0/1/2, all columns
university_df.iloc[0:3, :]

## 1.3 Summarising the data

Pandas has a bunch of built-in methods to quickly summarize your data and provide you with a quick general understanding. The ``describe`` method gives summary statistics for the numeric columns in the data.

In [ ]:
university_df.describe()

It's also possible to get summary statistics for all columns, including non-numeric ones.

In [ ]:
university_df.describe(include='all')

And to get summaries for individual columns.

In [ ]:
university_df['academic_year'].describe()

The ``value_counts`` method gives a count for each unique value in a DataFrame column.

In [ ]:
university_df['subject_of_study'].value_counts()

And the ``hist`` method gives a visual representation of value counts

In [ ]:
university_df['number'].hist(bins=100,range=[0, 2500],figsize=(16,6),color='red',alpha=0.6);
plt.xlabel('Number of students');
plt.ylabel('Count');

In [ ]:
university_df['academic_year'].value_counts().plot(kind='bar',figsize=(16,6),alpha=0.6)  
plt.xlabel('Academic Year');
plt.ylabel('Count');

<a id="filtering-and-sorting"></a>
## Filtering and Sorting Data

We can use simple operator comparisons on columns to extract relevant or drop irrelevant information.

In [ ]:
university_df.head()

In [ ]:
# Create a Series of Booleansâ€¦
# In Pandas, this comparison is performed element-wise on each row of data.

number_filter = university_df['number'] > 3000
number_filter.head()

In [ ]:
# â€¦and use that Series to filter rows.
# In Pandas, indexing a DataFrame by a Series of Booleans only selects rows that are True in the Boolean.

university_df[number_filter].head()

We can also filter on strings

In [ ]:
medicine_filter = university_df['subject_of_study'] == '(1) Medicine & dentistry'
medicine_df = university_df[medicine_filter]
medicine_df.head()

We can also use the ``str.contains()`` method to find all rows that contain a particular string.

In [ ]:
science_filter = university_df['subject_of_study'].str.contains('science')
science_df = university_df[science_filter]
science_df.head()

And combine this into a single step

In [ ]:
science_df = university_df[university_df['subject_of_study'].str.contains('science')]
science_df.head()

We can combine multiple logical tests into a single filter

In [ ]:
part_time_medicine_filter = (university_df['subject_of_study'] == 
                             
                             '(1) Medicine & dentistry') & (university_df['mode_of_study'] == 'Part-time')
    
    
part_time_medicine_df = university_df[part_time_medicine_filter]
part_time_medicine_df.head()

This is a more efficient alternative to using lots of 'OR' statements.

In [ ]:
university_df[university_df['subject_of_study'].isin(['(1) Medicine & dentistry', '(H1) General engineering'])]

##Â Setting values in Dataframes

In [ ]:
# Select one column from the filtered results. 'at method' to access specific column, with a label and renaming it.
#https://pandas.pydata.org/pandas-docs/version/0.25/reference/api/pandas.DataFrame.at.html
university_df.at[2, 'subject_of_study'] = 'test_value'
university_df.head()

## Sorting values

It's possible to sort the rows in a DataFrame by one column in ascending or descending order.

In [ ]:
university_df.sort_values(by='number',ascending=True)

## Renaming, Adding, and Removing Columns

In [ ]:
# Print the column labels
print(university_df.columns)

In [ ]:
# Rename one or more columns in a single output using value mapping.
university_df.rename(columns={'subject_of_study':'subject', 'academic_year':'the_blessed_year'})

In [ ]:
university_df.columns

**Why haven't the column names changed when we try to access them?**

In [ ]:
# Rename one or more columns in the original DataFrame.
university_df.rename(columns={'subject_of_study':'subject', 'academic_year':'year'},inplace=True)

In [ ]:
university_df.columns

In [ ]:
new_col_names = ['subject_marker','subject','level','study_mode',
                 'blessed_year', 'ethnicity','number']

university_df.columns = new_col_names

university_df.head()

## Easy Column Operations

Rather than having to reference indexes and create for loops to do column-wise operations, Pandas is smart and knows that when we add columns together we want to add the values in each row together.

In [ ]:
# Add a new column as a function of existing columns.
university_df['number_thousands'] = university_df['number']/1000
university_df['subject'] = university_df['subject'].str.lower()

university_df.head()

##Â Removing Columns

In [ ]:
university_df.drop(columns=['subject_marker'],inplace=True)
university_df.head()

## Handling Missing Values

Sometimes, values will be missing from the source data or as a byproduct of manipulations. It is very important to detect missing data. Missing data can:

- Make the entire row ineligible to be training data for a model.
- Hint at data-collection errors.
- Indicate improper conversion or manipulation.
- Actually not be missing â€” it sometimes means "zero," "false," "not applicable," or "entered an empty string."

For example, a `.csv` file might have a missing value in some data fields:

```
tool_name,material,cost
hammer,wood,8
chainsaw,,
wrench,metal,5
```

When this data is imported, "null" values will be stored in the second row (in the "material" and "cost" columns).

In Pandas, a "null" value is either `None` or `np.NaN` (Not a Number). Many fixed-size numeric datatypes (such as integers) do not have a way of representing `np.NaN`. So, numeric columns will be promoted to floating-point datatypes that do support it. For example, when importing the `.csv` file above:

**For the second row:** `None` will be stored in the "material" column and `np.NaN` will be stored in the "cost" column. The entire "cost" column (stored as a single `ndarray`) must be stored as floating-point values to accommodate the `np.NaN`, even though an integer `8` is in the first row.

Let's read in another dataset ('Expenses Jan to Mar 19' data downloaded from here: https://data.gov.uk/dataset/091af8ee-95db-4336-9902-42ee998be323/senior-officials-expenses-travel-and-hospitality-in-dwp) to understand missing values.

You'll notice that a lot of cells contain ``NaN`` or 'not a number'.

In [ ]:
dwp_expenses_df = pd.read_csv('./data/dwp-senior-officials-expenses-jan-mar-2019.csv',encoding='latin1')
dwp_expenses_df.head()

If we check the type of one of these ``NaN`` elements, we'll see it's still 'float'.

In [ ]:
dwp_expenses_df.iloc[0,7]

In [ ]:
type(dwp_expenses_df.iloc[0,7])

In [ ]:
# Only show rows where the Accommodation/Meals column is not NaN
dwp_expenses_df[dwp_expenses_df['Accomodation/Meals'].notnull()].head()

In [ ]:
# Missing values are usually excluded in calculations by default.
dwp_expenses_df['Accomodation/Meals'].value_counts()

In [ ]:
# Includes missing values
dwp_expenses_df['Accomodation/Meals'].value_counts(dropna=False)

We can choose to drop rows containing ``NaN`` values, or fill in ``NaN`` values with a string, float or other element of our choice. 

Be careful when doing either of these things; you could end up unintentionally removing rows, or filling in values that don't make sense or aren't accurate.

In this case, it would be important to clarify whether a ``NaN`` value in a particular column means the amount is zero, or whether it means the amount is unknown.

In [ ]:
dwp_expenses_df.dtypes

In [ ]:
# Let's start by converting the numeric columns to numeric types, stripping away the Â£ sign before the conversion

dwp_expenses_df['Accomodation/Meals'] = pd.to_numeric(dwp_expenses_df['Accomodation/Meals'].str.replace('Â£',''),errors='coerce')
dwp_expenses_df['Total cost, including all visas, accommodation, travel, meals etc. (Â£)'] = pd.to_numeric(dwp_expenses_df['Total cost, including all visas, accommodation, travel, meals etc. (Â£)'].str.replace('Â£',''),errors='coerce')
dwp_expenses_df['Other (including hospitality given)'] = pd.to_numeric(dwp_expenses_df['Other (including hospitality given)'].str.replace('Â£',''),errors='coerce')
dwp_expenses_df['Total Cost of Use of Official Secure Car'] = pd.to_numeric(dwp_expenses_df['Total Cost of Use of Official Secure Car'].str.replace('Â£',''),errors='coerce')

In [ ]:
# Drop a row if ANY values are missing from any column â€” can be dangerous!
#dwp_expenses_df.dropna()

# Drop a row only if ALL values are missing.
#dwp_expenses_df.dropna(how='all')

# Fill in missing values with 0 â€” this is dangerous to do without manually verifying them!
dwp_expenses_df['Accomodation/Meals'].fillna(value=0,inplace=True)
dwp_expenses_df['Total cost, including all visas, accommodation, travel, meals etc. (Â£)'].fillna(value=0,inplace=True)
dwp_expenses_df['Other (including hospitality given)'].fillna(value=0,inplace=True)
dwp_expenses_df['Total Cost of Use of Official Secure Car'].fillna(value=0,inplace=True)

In [ ]:
dwp_expenses_df.head(10)

## Understanding Pandas axes

In [ ]:
# axis=0 sums across rows
dwp_expenses_df[['Accomodation/Meals', 'Other (including hospitality given)']].sum(axis=0)

In [ ]:
# axis=1 sums across columns (doesn't always lead to results that make sense)
dwp_expenses_df[['Accomodation/Meals', 'Other (including hospitality given)']].sum(axis=1)

<a id="split-apply-combine"></a>
### Split-Apply-Combine

Split-apply-combine is a pattern for analyzing data. Suppose we want to find mean travel costs per person. Then:

- **Split:** We group data by person.
- **Apply:** For each group, we apply the `sum()` function to find the mean travel cost.
- **Combine:** We now combine the names with the `sum()`s to produce a summary of our findings.

In [ ]:
# For each official, calculate the mean trip duration.
dwp_expenses_df.groupby('Name (Firstname, Surname)')['Duration of Visit (Days)'].mean()

In [ ]:
# For each official, calculate the mean of all numeric columns.
dwp_expenses_df.groupby('Name (Firstname, Surname)').mean()

In [ ]:
# For each official, describe total costs.
dwp_expenses_df.groupby('Name (Firstname, Surname)')['Total cost, including all visas, accommodation, travel, meals etc. (Â£)'].describe()

In [ ]:
# Similar, but outputs a DataFrame and can be customized â€” "agg" allows you to aggregate results of Series functions
dwp_expenses_df.groupby('Name (Firstname, Surname)').agg(['count', 'mean', 'min', 'max'])

## Exercises

We'll be working with Twitter's election integrity dataset from October 2018, which consists of ~3million tweets from accounts suspected to be associated with overseas bot accounts.

Some of the code in these exercises is boilerplated (i.e. written for you), with gaps for you to fill in. Instructions are provided in the comments where this is the case.

## 1) Read in the data

Visit this URL, and enter your email address to access information about the datasets. Read a bit about which datasets are available: https://about.twitter.com/en_gb/values/elections-integrity.html#data

In particular, read the ``Readme`` file to understand the variables contained in each dataset: 



We'll be downloading the tweets associated with the **Iran (October 2018) â€“ 770 accounts** dataset. 

To do this, you should:

* Click on this URL, and download the resulting ZIP file to your computer.



* Unzip the contents of the file to the ``data`` directory inside the same directory as this notebook. 

The result should be a file called ``iranian_tweets_csv_hashed.csv`` in location ``./data/`` relative to this notebook.

Preview the first 10 rows of the dataset using ``head``. What does each row correspond to?

## 2) Inspect the data

Look at the column names

Get the shape of the dataframe.

Use ``value_counts()`` to get summary counts for the language of the tweets and the location of the account.

Use ``describe`` to get a summary of the numeric columns in the data.

## 3) Filter out non-UK based accounts and unneccessary columns

Filter the data so that only tweets where ``user_reported_location`` is ``United Kingdom`` are included.

In [ ]:
tweet_df = tweet_df[tweet_df['user_reported_location']=='United Kingdom']

Let's confirm that the filter has worked by running this next cell of code

In [ ]:
tweet_df[tweet_df['user_reported_location']=='United Kingdom']

In [ ]:
tweet_df[['tweet_text']]

Keep only the following columns:

``tweetid,
follower_count,
user_screen_name,
following_count,
account_creation_date,
tweet_text,
tweet_time,
like_count,
retweet_count``


It's more efficient to do this by selecting columns using ``my_df[['col1','col2','col3']]`` notation rather than using ``my_df.drop(columns=[])`` since we want to drop many more columns than we want to keep.

## 4) Which account was purportedly tweeting from the UK?

Use ``value_counts()`` on the ``user_screen_name`` column to see how many accounts were claiming to tweet from the United Kingdom.

It's just one user! Let's look at when they tweet, and what they tweet about.

## 5) Convert columns to the pandas ``datetime`` type

Use the ``pd.to_datetime()`` function to convert the ``account_creation_date`` and ``tweet_time`` columns into the type ``datetime``. This is a type in ``pandas`` that allows dates to be treated like timestamps, so we can search by date, sort in chronological order etc.

Use ``dtypes`` to confirm that these columns are now ``datetime`` columns.

## 6) When was this account tweeting?

Use the ``hist()`` method to get a quick visualisation of the distribution of ``tweet_time``s

## 7) Did the account get many likes or retweets?

Use ``value_counts()`` and ``describe()`` on the ``like_count`` and ``retweet_count`` columns to gauge how successful you think this account was at propagating information.

## 8) What was this account tweeting about?

We can start to explore the contents of each tweet using some basic word count methods. This is much less advanced than the more involved natural language processing methods we'll be using later on in the course, but is a good start. 

Let's begin by using the ``str.lower()`` method to convert the ``tweet_text`` column to lowercase so we don't have to worry about case sensitivity, and also using ``str.replace()`` together with a **regular expression** to catch **all puncuation marks** and replace them with an empty string; this is the same thing as stripping out all punctuation.

In [ ]:
tweet_df['tweet_text'] = tweet_df['tweet_text'].str.lower().str.replace('[^\w\s]','')

We can confirm the replacement has worked!

In [ ]:
tweet_df['tweet_text']

Now use filtering and ``.str.contains()`` to find out what **percentage** of the tweets mention the following terms (remember we've converted everything to lowercase so your search terms need to be lowercase as well):

* obama
* brexit
* trump
* syria
* iran
* uk 
* russia

<a id="summary"></a>
### Summary

Believe it or not, we've only barely touched the surface of everything that Pandas offers. Don't worry if you don't remember most of it â€” for now, just knowing what exists is key. Remember that the more you use Pandas to manipulate data, the more of these functions you will take interest in, look up, and remember.

In this notebook, the most important things to familiarize yourself with are the basics:
- Manipulating `DataFrames` and `Series`
- Filtering columns and rows
- Handling missing values
- Split-apply-combine (this one takes some practice!)